{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load l10n %}

{% block head_title %}
    iLabel -- ReteVISTA
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">iLabel</h1>
            <img src="{% static 'img/iLabel.png' %}" class="rounded mx-auto d-block"/>
            <p>L’etichetta intelligente, presente sul prodotto finale tramite un QR-Code, permetterà di collegarsi in remoto ad un portale
                nel quale saranno presenti tutte le informazioni riguardanti la coltura e la storia del prodotto dalla semina alla raccolta.
        </div>
    </div>
    <div class="container">
          <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <p class="text-center">
                <a href="{% url 'iLabel:main-aziende-list' %}" class="btn btn-sq-lg btn-primary">
                  <i class="fa fa-user fa-5x"></i><br> Lista delle aziende <br>Accedi </a>
              </p>
            </div>
            <div class="col-md-4">
              <p class="text-center" >
                <a href="#" class="btn btn-sq-lg btn-success">
                        <i class="fa fa-fire fa-5x" aria-hidden="true"></i><br/>
                        Lista delle colture <br>Accedi
                    </a>
              </p>
            </div>
            <div class="col-md-4">
              <p class="text-center">
                <a href="#" class="btn btn-sq-lg btn-info">
                  <i class="fa fa-qrcode fa-5x" aria-hidden="true"></i><br>Genera Qr Code<br>Accedi </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}