{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
    <script src="{% static 'js/Gauge.js' %}"></script>
{% endblock %}
<script>
    {% block jquery %}
        //var endpoint = '/elaborazioni/api/data/1'
        var endpoint = "{% url 'api-data-spi' uid=uid %}"
        var defaultData = []
        var labels = []
        //console.log(customertsDjango)
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.mesianni
                defaultData = data.spi
                setChart()
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)

            }
        })
        function setChart() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var pointBackgroundColors = [];
            var myColors=[];

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'SPI index',
                        backgroundColor: myColors,
                        data: defaultData,
                    },
                    ],
                },
                options:{}
            });
            for (i = 0; i < myBarChart.data.datasets[0].data.length; i++) {
                if (myBarChart.data.datasets[0].data[i] < -2 || myBarChart.data.datasets[0].data[i] > 2 ) {
                    myColors.push("#dc0611");
                }
                else if (myBarChart.data.datasets[0].data[i] >= -2 && myBarChart.data.datasets[0].data[i] < -1.5 || myBarChart.data.datasets[0].data[i] > 1.5 && myBarChart.data.datasets[0].data[i] <= 2 ) {
                    myColors.push("#fd7600");
                }
                else if (myBarChart.data.datasets[0].data[i] >= -1.5 && myBarChart.data.datasets[0].data[i] < -1 || myBarChart.data.datasets[0].data[i] > 1 && myBarChart.data.datasets[0].data[i] <= 1.5 ) {
                    myColors.push("#fff800");
                }

                else {
                    myColors.push("#71DC00");
                }
            }
            myBarChart.update();
            {#var myChart = new Chart(ctx5, {#}
            {#    type: 'line',#}
            {#    data: {#}
            {#        labels: labels,#}
            {#        datasets: [{#}
            {#            label: 'SPI index',#}
            {#            data: defaultData,#}
            {#            pointBackgroundColor: pointBackgroundColors,#}
            {#            pointBorderColor: pointBackgroundColors,#}
            {#            lineTension:5,#}
            {#            backgroundColor: 'rgb(54, 162, 235)',#}
            {#            borderColor: 'rgb(54, 162, 235)',#}
            {#            borderWidth: 1.5,#}
            {#            fill : false#}
            {#        },#}
            {#        ],#}
            {##}
            {#    },#}
            {#    options: {#}
            {##}
            {#        scales: {#}
            {#            yAxes: [{#}
            {#                ticks: {#}
            {#                    beginAtZero: true#}
            {#                }#}
            {#            }]#}
            {#        },#}
            {#        elements: {#}
            {#            line: {#}
            {#                tension: 0#}
            {#            }#}
            {#        }#}
            {#    }#}
            //});
            {#for (i = 0; i < myChart.data.datasets[0].data.length; i++) {#}
            {#    if (myChart.data.datasets[0].data[i] > 0) {#}
            {#        pointBackgroundColors.push("#90cd8a");#}
            {#    } else {#}
            {#        pointBackgroundColors.push("#f58368");#}
            {#    }#}
            {#}#}
            {#myChart.update();#}


        }
        var ctx = document.getElementById("cruscotto").getContext("2d");
        new Chart(ctx, {
            type: "tsgauge",
            data: {
                datasets: [{
                    backgroundColor: ["#dc0611", "#fd7600", "#fff800","#71dc00", "#fff800", "#fd7600","#dc0611"],
                    borderWidth: 0,
                    gaugeData: {
                        value: {{ spi_1mese |safe }},
                        valueColor: "#535353"
                    },
                    gaugeLimits: [-5, -2, -1.5, -1,1,1.5,2,5]
                }]
            },
            options: {
                events: [],
                showMarkers: true
            }
        });
        var ctx2 = document.getElementById("cruscotto2").getContext("2d");
        new Chart(ctx2, {
            type: "tsgauge",
            data: {
                datasets: [{
                    backgroundColor: ["#dc0611", "#fd7600", "#fff800","#71dc00", "#fff800", "#fd7600","#dc0611"],
                    borderWidth: 0,
                    gaugeData: {
                        value: {{ spi_3mese |safe }},
                        valueColor: "#535353"
                    },
                    gaugeLimits: [-5, -2, -1.5, -1,1,1.5,2,5]
                }]
            },
            options: {
                events: [],
                showMarkers: true
            }
        });
        var ctx3 = document.getElementById("cruscotto3").getContext("2d");
        new Chart(ctx3, {
            type: "tsgauge",
            data: {
                datasets: [{
                    backgroundColor: ["#dc0611", "#fd7600", "#fff800","#71dc00", "#fff800", "#fd7600","#dc0611"],
                    borderWidth: 0,
                    gaugeData: {
                        value: {{ spi_6mese |safe }},
                        valueColor: "#535353"
                    },
                    gaugeLimits: [-5, -2, -1.5, -1,1,1.5,2,5]
                }]
            },
            options: {
                events: [],
                showMarkers: true
            }
        });
    {% endblock %}
</script>

{% block content %}

    <div class='row'>
        <div class='col-sm-12' url-endpoint='{% url "api-data" uid=uid %}'>
            <h1>Grafici SPI di {{ nome_staz }}</h1>
            <canvas id="myChart" width="400" height="200"></canvas>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>{{ mese |date:"F" }} - Cruscotto a 1 mese SPI</h2>
                        <canvas id="cruscotto" ></canvas>
                    </div>
                    <div class="col-sm">
                        <h2>{{ mese |date:"F" }} - Cruscotto a 3 mesi SPI</h2>
                        <canvas id="cruscotto2" ></canvas>
                    </div>
                    <div class="col-sm">
                        <h2>{{ mese |date:"F" }} - Cruscotto a 6 mesi SPI</h2>
                        <canvas id="cruscotto3" ></canvas>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock content %}