{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block script %}
{% endblock %}


{% block content %}


    <div class="container-fluid">
        <div class="jumbotron text-center">
            <div class="container">
                <img src="{% static 'img/logo-Vista.jpg' %}" class="img-fluid" alt="">
                <h2>VETRINA INFORMATICA PER SISTEMI DI TRASPARENZA NELL’AGROALIMENTARE</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
            <h2 class="lead">VISTA® è la piattaforma web mobile dedicata agli operatori e tecnici in agricoltura (accessibile attraverso un sistema di autenticazione) per la gestione tecnica, amministrativa, economica e cartografica dell’azienda agricola.</h2>
            <hr class="my-4">

            <h2 class="lead">VISTA® ti consente la registrazione e consultazione degli interventi sempre ed ovunque, in tutta sicurezza.</h2>

            {#          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>#}
        </div>
    </div>
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Come funziona</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Sono disponibili le informazioni relative alla modalità di coltivazione nel rispetto della Sostenibilità globale dell’azienda attraverso modelli di consiglio irriguo o dose ottimale di fertilizzanti.</p>
                    <hr class="my-4">
                    <p class="lead">Tutte le informazioni riguardanti la coltura e la storia del prodotto dalla semina alla raccolta geo referenziate nella  mappa aziendale.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Il consiglio irriguo permetterà di conoscere il fabbisogno idrico esatto della coltura secondo le condizioni meteo reali nel campo.</p>
                    <hr class="my-4">
                    <p class="lead">La dose ottimale di concimazione consentirà di dosare gli elementi nutritivi secondo i fabbisogni della coltura e la tipologia di terreno. Sarà possibile anche esportare queste informazioni sui moderni strumenti di agricoltura di precisione.</p>

                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Nella software sarà inoltre possibile accedere ai risultati sintetici delle elaborazione prodotte (grafici, tabelle, indicatori – raccolti in un cruscotto informativo) sia a partire dai dati degli studi che dai dati acquisti in real time.</p>
                    <hr class="my-4">
                    <p class="lead">Partendo da una registrazione facile degli interventi, il programma consente di tenere sotto controllo le attività colturali (itinerario tecnico) e di conseguenza le stampe che semplificano la gestione amministrativa.</p>
                </div>
            </div>

            <!--  Button -->
{#            <div class="text-center mt-4">#}
{#                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">#}
{#                    <i class="fas fa-download mr-2"></i>#}
{#                    Free Download!#}
{#                </a>#}
{#            </div>#}

        </div>
    </section>


    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Vantaggi</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/costi.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Riduzione dei costi di produzione</h3>

                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/impatti.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Riduzione degli impatti di produzione</h3>

                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/normativa.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Uniformità alla normativa</h3>

                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>
        <section class="page-section portfolio" id="portfolio2">
         <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Valori</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
             <div class="row">

                  <!-- Vantaggi Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Risparmio idrico</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/risparmio_idrico.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Risparmio idrico</h3>

                    </div>
                </div>

                       <!-- Vantaggi Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Sostenibilità</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/sostenibilita.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Sostenibilità</h3>

                    </div>
                </div>

                       <!-- Vantaggi Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Tracciabilità</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/tracciabilita.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Tracciabilità</h3>

                    </div>
                </div>

             </div>
        </section>
<!-- Portfolio Modals -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RIDURRE I COSTI DI PRODUZIONE</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/costi.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

        <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RIDURRE GLI IMPATTI SULLA SALUTE E L’AMBIENTE</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/impatti.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">UNIFORMARSI ALLA NORMATIVA (*)</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/normativa.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">(*) DIR 2009/128/CE e Piano di Azione Nazionale (PAN-Decreto Interministeriale 22 gennaio 2014). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <style>
        .jumbotron{
        {#background-image: url({% static 'img/logo-Vista.jpg' %});#}
        {#background-size: cover;#}
            background-size: 100% 100%;
            height: 100%;



        }
        .img-fluid{
            height: 250px;
            width: -webkit-fill-available;
        }
        .banner {
            background: url({% static 'img/logo-Vista.jpg' %});
            min-width: 100%;
            background-size: cover;
            background-color: #000000;
            text-align: center;
            padding-top: 30%;
            padding-bottom: 12%;
        }
    </style>

{% endblock %}


{% block extrastyle %}

{% endblock %}