{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block script %}
{% endblock %}


{% block content %}


    <div class="container-fluid">
    <div class="row">
        <div class="col banner"></div>
    </div>
    <div class="row">
        <div class="w-100 px-2">
            <div class="h1 mt-5 text-center">About IT Wonders</div>
            <p class="mt-3">IT Wonders is a web software company based in Singapore &amp; Johor, Malaysia. We specialise in developing system and custom web development from sketch (not template based!!) based on your business requirements. We adopted professional web
                development process, this includes following process (based on project scope):
            </p>
            <div class="pl-5">
                <li>Details Design</li>
                <li>Use Case Analysis</li>
                <li>Database Schema Design</li>
                <li>Mockup</li>
                <li>Code Development</li>
                <li>Version Control</li>
                <li>Testing</li>
                <li>Deployment</li>
            </div>
            <p class="pt-3">
                This Bootstrap 4 Editor is one of the tools we develop and use internally. Then we decided to make it available to the public as well so more can make use of it. We hope you enjoy using it and let us know if you have any feedbacks about it in our
                <a href="https://facebook.com/itwonders.web" target="_blank">Facebook</a>. Thanks and see you around!
            </p>
        </div>
    </div>
</div>
    <div class="jumbotron">
    <h1 class="display-4">Hello, world!
    </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4"><div class="row">
</div>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<style>
    .banner {
        background: url(https://retevista.files.wordpress.com/2018/06/pexels-photo-533189.jpeg?w=1400&h=400&crop=1);
        min-width: 100%;
        background-size: cover;
        background-color: #000000;
        text-align: center;
        padding-top: 30%;
        padding-bottom: 12%;
    }
</style>

{% endblock %}


{% block extrastyle %}

{% endblock %}