{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block script %}
{% endblock %}


{% block content %}


    <div class="container-fluid">
        <div class="jumbotron text-center">
            <div class="container">
                <img src="{% static 'img/logo-Vista_new.jpg' %}"  alt="">
{#                class="img-fluid" per centrare immagine in jumbotron#}

                <h2>VETRINA INFORMATICA PER SISTEMI DI TRASPARENZA NELL’AGROALIMENTARE</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
            <h2 class="lead">Il progetto V.I.S.T.A.® (Vetrina Informatica per Sistemi di Trasparenza nell’Agroalimentare) si basa
sull'impronta del cibo, sulla sua costruzione e caratterizzazione in modo tale che tutte le fasi di
gestione delle produzioni agricole vengano messe in chiaro e conosciute. L’obiettivo principale è la
tracciabilità del prodotto: sapere cosa mangio e come è stato coltivato.
            </h2>
            <hr class="my-4">

            <h2 class="lead">La piattaforma sarà la VISTA® via web tramite la quale il consumatore finale potrà consultare il piano colturale dell’azienda e controllare la produzione in atto.</h2>

            {#          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>#}
        </div>
    </div>
    <div class="container align-content-center mb-2 border border-primary">
    <h2>LA PIATTAFORMA DIGITALE PER SISTEMI DI TRASPARENZA DEL CIBO</h2>
    <img src="{% static 'img/VISTAhomepage2.png' %}" class="rounded mx-auto d-block">
    <p>Per conoscere il cibo si parte dal territorio dalla sue caratteristiche, dal biotopo, da ciò che natura ci ha dato,
        poi si passa alla farm, l’azienda ciò che l’uomo ha costruito per produrre cibo. Dopodiché per marcare la tracciabilità e
        la trasparenza analizziamo le impronte della produzione della farm sul territorio ed il  percorso del cibo.
        Tu, nostro amico, che vuoi mangiare i nostri prodotti, li puoi prenotare, seguirne il cammino, seguire le nostre azioni da subito.
        Se poi ti dimentichi, noi non ci scordiamo, ti raccontiamo la storia dei nostri prodotti, senza perderne un frame. </p>
    </div>
    <section class="page-section  text-white mb-2 rounded" style="background-color: blue" id="scope">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">Lo scopo</h2>
        <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        <!-- Portfolio Grid Items -->
        <div class="row">

            <!-- Portfolio Item 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto border border-primary" data-toggle="modal" data-target="#portfolioModal4" style="background-color: #8fd19e; height: 200px;">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <h4>Monitoraggio in tempo reale delle colture in campo</h4>
                    </div>
                </div>
            </div>
            </div>
            <!-- Portfolio Item 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto border border-primary" data-toggle="modal" data-target="#portfolioModal4" style="background-color: #8fd19e; height: 200px;">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <h4>Trasparenza e tracciabilità dei prodotti per un concreto aiuto all’agricoltore
                            e al consumatore</h4>
                    </div>
                </div>
            </div>
            </div>
            <!-- Portfolio Item 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto border border-primary" data-toggle="modal" data-target="#portfolioModal4" style="background-color: #8fd19e; height: 200px;">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <h4>Adozione di modelli di supporto alle decisioni "user friendly" per l’agricoltura al fine di
                            conseguire produttività e sostenibilità.</h4>
                    </div>
                </div>
            </div>
            </div>



        </div>
    </div>
    </section>
    <section class="page-section bg-primary text-white mb-0 rounded" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Come funziona</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row"><div class="col-lg-4 ml-auto">
                    <p class="lead">Sono disponibili le informazioni relative alla modalità di coltivazione nel rispetto della Sostenibilità globale dell’azienda attraverso modelli di consiglio irriguo o dose ottimale di fertilizzanti.</p>
                    <hr class="my-4">
                    <p class="lead">Tutte le informazioni riguardanti la coltura e la storia del prodotto dalla semina alla raccolta geo referenziate nella  mappa aziendale.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Il consiglio irriguo permetterà di conoscere il fabbisogno idrico esatto della coltura secondo le condizioni meteo reali nel campo.</p>
                    <hr class="my-4">
                    <p class="lead">La dose ottimale di concimazione consentirà di dosare gli elementi nutritivi secondo i fabbisogni della coltura e la tipologia di terreno. Sarà possibile anche esportare queste informazioni sui moderni strumenti di agricoltura di precisione.</p>

                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Nella software sarà inoltre possibile accedere ai risultati sintetici delle elaborazione prodotte (grafici, tabelle, indicatori – raccolti in un cruscotto informativo) sia a partire dai dati degli studi che dai dati acquisti in real time.</p>
                    <hr class="my-4">
                    <p class="lead">Partendo da una registrazione facile degli interventi, il programma consente di tenere sotto controllo le attività colturali (itinerario tecnico) e di conseguenza le stampe che semplificano la gestione amministrativa.</p>
                </div>
            </div>


        </div>
    </section>
    <div class="mt-4"></div>

        <section class="page-section bg-secondary text-white mb-0" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Obiettivi</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-6 ml-auto">
                    <p class="lead">
                        L’<b>Agenda globale per lo Sviluppo sostenibile e gli Obiettivi di Sviluppo sostenibile (Sustainable Development Goals- SDGs)</b>, da raggiungere entro il 2030, sono stati approvati a New York il 25 settembre 2015. 
                    </p>
                    <hr class="my-4">
                    <p class="lead">L’Agenda globale comprende <b>17 Obiettivi articolati in 169 “target” o traguardi.</b></p>
                <hr class="my-4">
                    <p class="lead">Gli obiettivi, interconnessi e indivisibili, bilanciano le tre dimensioni dello sviluppo sostenibile: <b>crescita economica, inclusione sociale, tutela dell’ambiente</b>, estendendo l’Agenda 2030 dal solo pilastro sociale previsto dagli Obiettivi del Millennio agli altri due pilastri, economico ed ambientale.</p>
                </div>

                <div class="col-lg-6 mr-auto">
                    <p class="lead">Gli SGDs si incardinano sulle cosiddette <b>cinque P:</b></p>
                    <hr class="my-4">
                    <ul>
                        <li><p class="lead"><b>Persone</b>: eliminare fame e povertà in tutte le forme e garantire dignità e uguaglianza;</p></li>
                        <li><p class="lead"><b>Prosperità</b>: garantire vite prospere e piene in armonia con la natura;</p></li>
                        <li><p class="lead"><b>Pace</b>: promuovere società pacifiche, giuste e inclusive;</p></li>
                        <li><p class="lead"><b>Partnership</b>: implementare l’agenda attraverso solide partnership;</p></li>
                        <li><p class="lead"><b>Pianeta</b>:      proteggere le risorse naturali e il clima del pianeta per le generazioni future.</p></li>

                    </ul>
                </div>
            </div>
                    </div>
    </section>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Vantaggi</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/costi.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Riduzione dei costi di produzione</h3>

                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/impatti.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Riduzione degli impatti di produzione</h3>

                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/normativa.png' %}" alt="">
                        <h3 class="page-section-heading text-center text-secondary mb-0">Uniformità alla normativa</h3>

                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>
        <section class="page-section portfolio" id="portfolio2">
         <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Valori</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
             <div class="row">

                  <!-- Vantaggi Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Risparmio idrico</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/risparmio_idrico.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Risparmio idrico</h3>

                    </div>
                </div>

                       <!-- Vantaggi Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Sostenibilità</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/sostenibilita.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Sostenibilità</h3>

                    </div>
                </div>

                       <!-- Vantaggi Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <h3>Tracciabilità</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/vantaggi/tracciabilita.png' %}" alt="">
                                                        <h3 class="page-section-heading text-center text-secondary mb-0">Tracciabilità</h3>

                    </div>
                </div>

             </div>
        </section>
<!-- Portfolio Modals -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RIDURRE I COSTI DI PRODUZIONE</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/costi.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

        <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RIDURRE GLI IMPATTI SULLA SALUTE E L’AMBIENTE</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/impatti.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">UNIFORMARSI ALLA NORMATIVA (*)</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/vantaggi/normativa.png' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">(*) DIR 2009/128/CE e Piano di Azione Nazionale (PAN-Decreto Interministeriale 22 gennaio 2014). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <style>
        .jumbotron{
        {#background-image: url({% static 'img/logo-Vista.jpg' %});#}
        {#background-size: cover;#}
            background-size: 100% 100%;
            height: 100%;



        }
        .img-fluid{
            height: 250px;
            width: -webkit-fill-available;
        }
        .banner {
            background: url({% static 'img/logo-Vista.jpg' %});
            min-width: 100%;
            background-size: cover;
            background-color: #000000;
            text-align: center;
            padding-top: 30%;
            padding-bottom: 12%;
        }
    </style>

{% endblock %}


{% block extrastyle %}

{% endblock %}