{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{%  block script %}
    {% leaflet_js %}
{% endblock %}
{%  block css %}
    {% leaflet_css %}
{% endblock %}

<title>{% block head_title %}{{ block.super }} | Localizzazione stazioni RETEVISTA {% endblock head_title %}</title>

{% block content %}
    <h1>Stazioni meteo</h1>
    {% if request.user.is_authenticated %}
        {% leaflet_map "main" callback="main_map_init" %}
    {% else %}
        <p>solo gli utenti che effettuano l'accesso possono visualizzare la mappa</p>
    {% endif %}
    <script type="text/javascript">

        var geojsonMarkerOptions = {
            radius: 8,
            fillColor: "#ff7800",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var appezzMarkerOptions = {
            radius: 8,
            fillColor: "#6eff4e",
            color: "#000000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        function onEachFeature(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }
        function main_map_init (map, options) {
            var dataurl = '{% url "data-stazioni" %}?pid=100';
            var dataurl_app = "{% url "data-appezzamento" %}";
            var controlLayers = map.layerscontrol;

            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                var stazioni_layer = L.geoJson(data,{
                    pointToLayer: function (feature, layer) {
                        return L.circleMarker(layer, geojsonMarkerOptions);
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup('<h5>Stazione</h5>'+'<h6>'+feature.properties.nome+'</h6>');
                    }
                }).addTo(map);
                 // Add Rivers to Layer Control
                controlLayers.addOverlay(stazioni_layer, 'Stazioni');
            });
                // Download GeoJSON via Ajax
            $.getJSON(dataurl_app, function (data) {
                    // Add GeoJSON layer
                var appez_layer = L.geoJson(data,{
                    pointToLayer: function (feature, layer) {
                        return L.circleMarker(layer, appezzMarkerOptions);
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup('<h5>Appezzamento</h5>'+'<h6>'+feature.properties.nome+'</h6>');
                    }
                }).addTo(map);
                // Add Rivers to Layer Control
                controlLayers.addOverlay(appez_layer, 'Appezzamenti');
             });



        }
    </script>
{% endblock %}






