{% load static %}

<footer class="footer" style="border-top: 0.5px solid #eee;">
    <div class="container">
        <p class="text-muted mt-3">PSR UMBRIA 2014-2020</p>
        <p style="margin-bottom: 0.42cm; font-variant: normal; letter-spacing: normal; font-weight: normal; orphans: 2; widows: 2">
            <font color="#222222"><font face="Arial, Helvetica, sans-serif"><font size="2" style="font-size: 10pt"><i>Misura
                16.2.1 –&nbsp;Focus&nbsp; Area 3A</i></font></font></font></p>
        <p style="margin-bottom: 0.42cm; font-variant: normal; letter-spacing: normal; font-weight: normal; orphans: 2; widows: 2">
            <font color="#222222"><font face="Arial, Helvetica, sans-serif"><font size="2" style="font-size: 10pt"><i>Sviluppo
                di nuovi prodotti, pratiche, processi e tecnologie nel settore
                agroalimentare e forestale</i></font></font></font></p>
        <img src="{% static 'img/footer_img.jpg' %}"  height="80px"
             alt="">

{#        <p class="text-muted mt-3">Contatti</p>#}
        <p><a href="#">Torna su</a></p>
        <div class="footer-copyright text-center py-3">© Powered by:
            <a href="https://www.onegis.it/"> Onegis.it</a>
        </div>
    </div>
</footer>

