{% extends 'base_parent.html' %}
{% load static %}

{% block in_base %}

<h1 class="mt-4">V.I.S.T.A.</h1>
<h2 class="mb-3">Vetrina Informatica per Sistemi di Trasparenza nell'Agroalimentare</h2>

{% endblock %}

{% block in_base_footer %}
{% include "_footer.html" %}
<script type="text/javascript">
    $(function () {
        // Log in & Sign up buttons
        $(".login-btn").modalForm({formURL: "{% url 'login' %}"});


        // Hide message
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });

    });
    $(document).ready(function(){
        {% block jquery %}{% endblock %}
    });
</script>
{% endblock %}
