{% extends 'base.html' %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
{% endblock %}
<script>
    {% block jquery %}
            var dt = new Date();
            var endUTC = dt.toJSON().slice(0,10);
            // prendevo gli utlimi 90 giorni
        // modifico che inizio dalla data del primo giorno di consiglio irriguo
            dt.setDate( dt.getDate() - 90 );
            var startUTC = dt.toJSON().slice(0,10);
            //console.log(startUTC, endUTC)



        //var endpoint = '/elaborazioni/api/campi/2'
        var endpoint = "{% url 'api-data-campi' uid=uid %}"
        var rainData = []
        var labels = []
        var customertsDjango = parseInt("{{ customers }}") * 2
        //console.log(customertsDjango)
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.labels
                rainData = data.default
                EtcData = data.Etc
                Et0Data = data.Et0
                Adata = data.A
                Airr_minData = data.Amin_irr
                Tmindata = data.Tmin
                Tmaxdata = data.Tmax
                Tmediadata = data.Tmedia
                Ksdata = data.Ks
                Kcdata = data.Kc
                soglia = data.soglia
                setCharts()
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)

            }
        });
        function setCharts() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var ctx3 = document.getElementById('myChart1').getContext('2d');
            var ctx4 = document.getElementById('myChart1a').getContext('2d');
            var ctx5 = document.getElementById('ChartKcKs').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Contenuto idrico',
                        data: Adata,
                        backgroundColor: 'rgb(255,98,132)',
                        borderColor: 'rgb(255,98,132)',
                        borderWidth: 1,
                        fill : false
                    },{
                        label: 'Soglia Intervento',
                        data: soglia,
                        backgroundColor: 'rgb(54,162,235)',
                        borderColor: 'rgb(54,162,235)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.2
                        }
                    }
                }
            });
            var myChart = new Chart(ctx4, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'T. massima °C',
                        data: Tmaxdata,
                        backgroundColor: 'rgb(50,149,216)',
                        borderColor: 'rgb(50,149,216)',
                        borderWidth: 1,
                        fill : false
                    },{
                        label: 'T. minima °C',
                        data: Tmindata,
                        backgroundColor: 'rgb(240,93,124)',
                        borderColor: 'rgb(240,93,124)',
                        borderWidth: 1,
                        fill : false
                    },{
                        label: 'T. media °C',
                        data: Tmediadata,
                        backgroundColor: 'rgb(255,206,91)',
                        borderColor: 'rgb(255,206,91)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.2
                        }
                    }
                }
            });
            var myChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'EtC',
                        data: EtcData,
                        backgroundColor: 'rgb(0,0,222)',
                        borderColor: 'rgb(0,0,222)',
                        borderWidth: 1,
                        fill : false
                    },{
                        label: 'Et0',
                        data: Et0Data,
                        backgroundColor: 'rgb(0,215,222)',
                        borderColor: 'rgb(0,215,221)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.2
                        }
                    }
                }
            });
            var myChart = new Chart(ctx5, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Kc',
                        steppedLine: 'before',
                        data: Kcdata,
                        backgroundColor: 'rgb(50,149,216)',
                        borderColor: 'rgb(50,149,216)',
                        borderWidth: 1,
                        fill : false
                    },{
                        label: 'Ks',
                        steppedLine: 'before',
                        data: Ksdata,
                        backgroundColor: 'rgb(240,93,124)',
                        borderColor: 'rgb(240,93,124)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.2
                        }
                    }
                }
            });
            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'pioggia giornaliera (mm)',
                        data: rainData,
                        backgroundColor: 'rgb(255,144,167,0.5)',
                        borderColor: 'rgb(255,144,167)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    }
                }
            });
        }

        // var endpoint = 'api/bilancio/2'
        var inizio = startUTC;
        var fine = endUTC;
        $.ajax({
            type:"GET",
            url:'{% url "api-bilancio" %}',
            data:{
                appezzamentoid:{{ uid }} ,
                start: inizio,
                end: fine
            },
            success: function (data) {
                labels = data.labels
                dose_antropica=data.dose_antropica
                charIrrigazione()
            },
            error: function (error_data) {
                 console.log("errore")
                    console.log(error_data)
            },
        });
        function charIrrigazione() {
            var ctx3 = document.getElementById('myChartIrr').getContext('2d');
           var myChart = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Irrigazione',
                        data: dose_antropica,
                        backgroundColor: 'rgba(60,131,208,0.5)',
                        borderColor: 'rgb(137,241,241)',
                        borderWidth: 1,
                        fill : false
                    }],

                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    }
                }
            });

        };
    {% endblock %}
</script>

{% block content %}

    <div class='row'>
        <div class='col-sm-12' url-endpoint='{% url "api-data" uid=uid %}'>
            <h1>Grafici di: {{ nome_app }}</h1>
            <canvas id="myChart1" width="400" height="100"></canvas>
            <canvas id="myChart2" width="400" height="100"></canvas>
            <canvas id="myChart" width="400" height="100"></canvas>
            <canvas id="myChartIrr" width="400" height="100"></canvas>
            <canvas id="myChart1a" width="400" height="100"></canvas>
             <canvas id="ChartKcKs" width="400" height="100"></canvas>

        </div>
    </div>

{% endblock content %}