{% load static %}
{% load l10n %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<!-- <script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script> -->
<script src="{% static 'js/geotiff.js' %}"></script>
<script src="{% static 'js/plotty.js' %}"></script>

<script src="{% static 'js/leaflet-geotiff.js' %}"></script>

<div >
    <div style="width:30%;float:left;">
        <h1>Raster {{ nome }}</h1>

        <b>Mappa {{ nome }}</b> al punto cliccato vale: <span id="windSpeedValue">?</span></p>
        <button onclick="window.location.href = '{% url "lista-fertilizzazione" %}';">Indietro</button>

    </div>
    <div id="mapid" style="width:70%; height:100%;float:left;"></div>
</div>

<script>
    var marker;
    var mymap = L.map('mapid').setView([{{ originy|unlocalize }}, {{ originx|unlocalize }}], 16);

    //elenco delle tipologia di palette:
    //http://santilland.github.io/plotty/index.html

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

    var windSpeed = L.leafletGeotiff(
            url='{{ raster.url }}',
            options={band: 0,
                displayMin: {{ minimo }},
                displayMax: {{ massimo }},
                name: 'Wind speed',
                colorScale: 'inferno',
                clampLow: false,
                clampHigh: false,
                //vector:true,
                //arrowSize: 20,
            }
        ).addTo(mymap);

    mymap.on('click', function(e) {
        if (!marker) {
            marker = L.marker([e.latlng.lat,e.latlng.lng]).addTo(mymap);
        } else {
            marker.setLatLng([e.latlng.lat,e.latlng.lng]);
        }
        document.getElementById("windSpeedValue").innerHTML = windSpeed.getValueAtLatLng(e.latlng.lat,e.latlng.lng).toFixed(2);
    });
</script>