{% extends "base.html" %}

{% block content %}
    <h3>Pagina di <u>debugs</u> sul solo primo appezzamento</h3>
    <p>Bilancio idrologico</p>
    <p>data: {{ ieri }}</p>
    <p>stazione: {{ stazione_nome }}</p>
    <p>temp max: {{ Tmax }}</p>
    <p>temp min: {{ Tmin }}</p>
    <p>Umidità relativa max: {{ RH_max }}</p>
    <p>Umidità relativa min: {{ RH_min }}</p>
    <p>Radiazione solare media: {{ SRmedia }}</p>
    <p>velocità del vento: {{ vel_vento }}</p>
    <p>Evapotraspirazione: {{ Et0 }}</p>
    <p>Pioggia: {{ pioggia }}</p>
    <p>Area: {{ area }}</p>
    <p>Dose: {{ dose }}</p>
    <p>A: {{ A }}</p>
    <p>Irrigazione: {{ Irr_mm }}</p>
{% endblock %}