{% extends "base.html" %}

{% block content %}
    <main role="main">
    <div class="jumbotron">
    <div class="container">
      <h3 class="display-5">bilancio di {{ nome_app }}</h3>
      <p>Capacità idrica utilizzabile dell'appezzamento: {{ cap_idricamax }}</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'export_singolo_appez' uid=app_id %}" role="button">scarica xls »</a></p>
    </div>
  </div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">data</th>
      <th scope="col">pioggia</th>
      <th scope="col">Kc</th>
      <th scope="col">Et0</th>
      <th scope="col">EtC</th>
      <th scope="col">P - Ep</th>
      <th scope="col">L</th>
      <th scope="col">lambda</th>
      <th scope="col">a</th>
      <th scope="col">A>U</th>
      <th scope="col">A (mm)</th>
      <th scope="col">Irrigazione</th>
      <th scope="col">Dose (mm)</th>
        <th scope="col">Dose antropica (mm)</th>
      <th scope="col">Soglia intervento</th>
        <th scope="col">Irr (m<sup>3</sup>/ha)</th>
        <th scope="col">Note</th>
        <th scope="col">Edita</th>
    </tr>
  </thead>
  <tbody>
  {% for bilancio,soglia in bilancio_appezzam %}
    <tr>
      <th scope="row">{{ bilancio.data_rif }}</th>
      <td>{{ bilancio.pioggia_cum }}</td>
      <td>{{ bilancio.Kc }}</td>
      <td>{{ bilancio.Et0|floatformat:3 }}</td>
    <td>{{ bilancio.Etc|floatformat:3 }}</td>
    <td>{{ bilancio.P_ep|floatformat:3 }}</td>
    <td>{{ bilancio.L|floatformat:3 }}</td>
    <td>{{ bilancio.Lambda|floatformat:3 }}</td>
    <td>{{ bilancio.a|floatformat:3 }}</td>
    <td>{{ bilancio.Au|floatformat:3 }}</td>
    <td>{{ bilancio.A|floatformat:3 }}</td>
    <td>{{ bilancio.Irrigazione }}</td>
    <td>{{ bilancio.dose|floatformat }}</td>
    <td>{{ bilancio.dose_antropica|floatformat }}</td>
    <td>{{ soglia }}</td>
    <td>{{ bilancio.Irr_mm }}</td>
    <td>{{ bilancio.note }}</td>
    <td>
        {% if user.is_staff %}
        <button type="button" class="update-bilancio btn btn-sm btn-primary" data-id="{% url 'update_bilancio' pk=bilancio.id %}">
                          <span class="fas fa-edit"></span>
                        </button>
            {% else %}
             <button type="button" class="update-bilancio btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Fai il login per modificare">
                          <span class="fas fa-lock"  style="color:darkred" ></span>
                        </button>
        {% endif %}

    </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</div></main>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Create book button -->
{#<button class="create-book btn btn-primary" type="button" name="button">Crea bilancio nuovo -- sperimentale</button>#}

{% endblock %}
{% block script %}
       <script type="text/javascript">
$(function () {

      // Create book button
      $(".create-book").modalForm({formURL: "{% url 'create_bilancio' %}"});
      // Update book buttons
      $(".update-bilancio").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });


      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });
    });
</script>
{% endblock %}