{% extends "base.html" %}

{% block content %}
<h3>bilancio di {{ nome_app }}</h3>
    <p>Capacità idrica utilizzabile dell'appezzamento: {{ cap_idricamax }}</p>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">data</th>
      <th scope="col">pioggia</th>
      <th scope="col">Kc</th>
      <th scope="col">Et0</th>
      <th scope="col">EtC</th>
      <th scope="col">P - Ep</th>
      <th scope="col">L</th>
      <th scope="col">lambda</th>
      <th scope="col">a=amaxe^lambda</th>
      <th scope="col">A>U</th>
      <th scope="col">A (mm)</th>
      <th scope="col">Irrigazione</th>
      <th scope="col">Dose</th>
      <th scope="col">Soglia intervento</th>
      <th scope="col">Irr (m)</th>
        <th scope="col">Note</th>
        <th scope="col">Edita</th>
    </tr>
  </thead>
  <tbody>
  {% for bilancio in bilancio_appezzam %}
    <tr>
      <th scope="row">{{ bilancio.data_rif }}</th>
      <td>{{ bilancio.pioggia_cum }}</td>
      <td>{{ bilancio.Kc }}</td>
      <td>{{ bilancio.Et0|floatformat:3 }}</td>
    <td>{{ bilancio.Etc|floatformat:3 }}</td>
    <td>{{ bilancio.P_ep|floatformat:3 }}</td>
    <td>{{ bilancio.L|floatformat:3 }}</td>
    <td>{{ bilancio.Lambda|floatformat:3 }}</td>
    <td>{{ bilancio.a|floatformat:3 }}</td>
    <td>{{ bilancio.Au|floatformat:3 }}</td>
    <td>{{ bilancio.A|floatformat:3 }}</td>
    <td>{{ bilancio.Irrigazione }}</td>
    <td>{{ bilancio.dose|floatformat }}</td>
    <td>{{ soglia }}</td>
    <td>{{ bilancio.Irr_mm }}</td>
    <td>{{ bilancio.note }}</td>
    <td><button type="button" class="update-bilancio btn btn-sm btn-primary" data-id="{% url 'update_bilancio' bilancio.pk %}">
                          <span class="fas fa-pencil-alt"></span>
                        </button></td>
    </tr>
  {% endfor %}

  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Create book button -->
{#<button class="create-book btn btn-primary" type="button" name="button">Crea bilancio nuovo -- sperimentale</button>#}

{% endblock %}
{% block script %}
       <script type="text/javascript">
$(function () {

      // Create book button
      $(".create-book").modalForm({formURL: "{% url 'create_bilancio' %}"});
      // Update book buttons
      $(".update-bilancio").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });


      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });
    });
</script>
{% endblock %}