{% extends "base.html" %}
{% load leaflet_tags crispy_forms_tags %}

{% load static %}

{% block script %}
    {% leaflet_js plugins="forms" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block css %}
    {% leaflet_css plugins="forms" %}
    {{ form.media }}

{% endblock %}

{% block content %}

    <div class="row">
        {% include "lateral_panel_dashboard.html" %}
        <div class="col-lg-8  col-md-8">

            <h1 class="h2">Aggiungi / Edita analisi</h1>
            {% crispy form %}
        </div>
    </div>
    <script>
        YourGeometryField = L.GeometryField.extend({
            addTo: function (map) {
                L.GeometryField.prototype.addTo.call(this, map);
                // Customize map for field
                console.log(this);
            },
            // See GeometryField source (static/leaflet/leaflet.forms.js) to override more stuff...
        });

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#form-analisi',
            data: {
                sabbia: 0,
                limo: 0,
                argilla: 0,
            },
            computed: {
                somma: function () {
                    return Number(this.sabbia) + Number(this.limo) + Number(this.argilla)
                },
                tessituraF: function(){
                    sand= Number(this.sabbia)
                    clay=Number(this.limo)
                    silt=100-sand-clay
                    if ((silt + 1.5*clay) < 15) {
                        texture = "SAND";
                        tessitura = "sabbioso";
                    } else if ((silt + 1.5*clay >= 15) && (silt + 2*clay < 30)) {
                        texture = "LOAMY SAND";
                        tessitura = "sabbioso franco";
                    } else if ((clay >= 7 && clay < 20) && (sand > 52) && ((silt + 2*clay) >= 30) || (clay < 7 && silt < 50 && (silt+2*clay)>=30)) {
                        texture = "SANDY LOAM";
                        tessitura = "franco sabbioso";
                    } else if ((clay >= 7 && clay < 27) && (silt >= 28 && silt < 50) && (sand <= 52)) {
                        texture = "LOAM";
                        tessitura = "franco";
                    } else if ((silt >= 50 && (clay >= 12 && clay < 27)) || ((silt >= 50 && silt < 80) && clay < 12)) {
                        texture = "SANDY LOAM";
                    } else if ((clay >= 7 && clay < 20) && (sand > 52) && ((silt + 2*clay) >= 30) || (clay < 7 && silt < 50 && (silt+2*clay)>=30)) {
                        texture = "SILT LOAM";
                    } else if (silt >= 80 && clay < 12) {
                        texture = "SILT";
                        tessitura = "limoso";
                    } else if ((clay >= 20 && clay < 35) && (silt < 28) && (sand > 45))  {
                        texture = "SANDY CLAY LOAM";
                        tessitura = "Franco sabbioso argilloso";
                    } else if ((clay >= 27 && clay < 40) && (sand > 20 && sand <= 45))  {
                        texture = "CLAY LOAM";
                        tessitura="franco argilloso";
                    } else if ((clay >= 27 && clay < 40) && (sand  <= 20))  {
                        texture = "SILTY CLAY LOAM";
                        tessitura="franco limoso argilloso";
                    } else if (clay >= 35 && sand > 45)  {
                        texture = "SANDY CLAY LOAM";
                        tessitura="franco sabbioso argilloso";
                    } else if ((clay >= 20 && clay < 35) && (silt < 28) && (sand > 45))  {
                        texture = "SANDY CLAY";
                        tessitura = "Argilloso sabbioso";
                    } else if (clay >= 40 && silt >= 40)  {
                        texture = "SILTY CLAY";
                        tessitura="argilloso limoso";
                    } else if (clay >= 40 && sand <= 45 && silt < 40) {
                        texture = "CLAY";
                        tessitura = "Argilloso";
                    } else {
                        texture = "Good evening";
                        tessitura = "Altro";
                    }
                    return tessitura.toUpperCase();

                },
                colore: function () {
                    somma = Number(this.sabbia) + Number(this.limo) + Number(this.argilla);
                    col_res="black"
                    if (somma <= 100){
                        col_res="red"
                    }
                    return col_res
                }
            }
        });

    </script>

{% endblock %}


{% block extrastyle %}

{% endblock %}
