{% extends "base.html" %}
{% load leaflet_tags crispy_forms_tags %}

{% load static %}

{% block script %}
    {% leaflet_js plugins="forms" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block css %}
    {% leaflet_css plugins="forms" %}
    {{ form.media }}

{% endblock %}

{% block content %}

    <div class="row">
        {% include "lateral_panel_dashboard.html" %}
        <div class="col-lg-8  col-md-8">

            <h1 class="h2">Aggiungi / Edita analisi</h1>
            {% crispy form %}
        </div>
    </div>
    <script>
        YourGeometryField = L.GeometryField.extend({
            addTo: function (map) {
                L.GeometryField.prototype.addTo.call(this, map);
                // Customize map for field
                console.log(this);
            },
            // See GeometryField source (static/leaflet/leaflet.forms.js) to override more stuff...
        });

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#form-analisi',
            data: {
                sabbia: 0,
                limo: 0,
                argilla: 0,
            },
            computed: {
                somma: function () {
                    return Number(this.sabbia) + Number(this.limo) + Number(this.argilla)
                },
                colore: function () {
                  somma = Number(this.sabbia) + Number(this.limo) + Number(this.argilla);
                  col_res="black"
                  if (somma <= 100){
                      col_res="red"
                  }
                  return col_res

                }
            }
        });

    </script>

{% endblock %}


{% block extrastyle %}

{% endblock %}
