{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load l10n %}
{% load data_tags %}

{% block script %}
    {% leaflet_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>
{% endblock %}
{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container { height: 600px; width: 100%}
    </style>
{% endblock %}


{% block content %}


    <div class="row">
        {% include "lateral_panel_dashboard.html" %}

        <div class="col-md-4 p-0 bg-indigo h-md-100">

            <div class="sticky-top">
                <h1 class="h2">Dashboard</h1>
            </div>

            <a class="btn btn-primary" id="add-field" title="Nuovo" role="button"><i class="fas fa-plus"></i></a>


            {% for campo,area,latlong,previsioni,iframeURL in campi %}
                <div class="col-md-6 col-lg-4 col-xl-3 mt-2">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="{% static 'img/rice_field.jpg' %}" alt="Card image cap">
                        <div class="card-header">
                            <h4 class="card-title">{{ campo.nome }}</h4>
                            <button title="Centra in mappa"
                                    xmin="{{ campo.geom.extent.0|unlocalize}}"
                                    ymin="{{ campo.geom.extent.1|unlocalize }}"
                                    xmax="{{ campo.geom.extent.2|unlocalize }}"
                                    ymax="{{ campo.geom.extent.3|unlocalize }}"
                                    class="btn btn-light btn-sm no-focus-highlight center-in-map">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>
                            <span class="card-area"><strong class="measure">{{ area }}</strong> ha</span>
                            <hr>
                            <span class="card-area"><strong class="measure">Coltura <u>{{ campo.coltura }}</u></strong></span>
                        </div>
                        <div class="card-body">
                            {% if forecast %}
                                <div class="row mt-2">
                                    <div class="col-8">
                                        <h4>situazione corrente</h4>
                                        <div class="weather-forecast"><small class="condition clearfix">
                                            <img src="http://openweathermap.org/img/w/{{ previsioni.weather.0.icon }}.png" class="float-left">
                                            <strong>{{ previsioni.weather.0.description }}</strong></small>
                                            <p><span>Temperatura <strong>{{ previsioni.main.temp }} </strong>°c</span></p>
                                            <p><span>Vento <strong>{{ previsioni.wind.speed }} </strong>m/s<i class="fa-lg wi wi-wind towards-null-deg"></i></span></p>
                                            <p><span>Umidità <strong>{{ previsioni.main.humidity }} </strong>%</span></p>
                                            {% if  previsioni.trattamento %}
                                                <p style="color:#71dc00;"><span>OTTIMALE PER IL TRATTAMENTO</span></p>
                                            {% else %}
                                                <p style="color:red;"><span>NON OTTIMALE PER IL TRATTAMENTO</span></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6>Previsione</h6>
                                        <small><strong>{{ campo.previsione_meteo.daily.data.2.time|print_timestamp }}</strong>:<br>
                                            {{ campo.previsione_meteo.daily.data.2.precipIntensity|floatformat }} mm</small><hr>
                                        <small><strong>{{ campo.previsione_meteo.daily.data.3.time|print_timestamp }} </strong>:<br>
                                            {{ campo.previsione_meteo.daily.data.3.precipIntensity|floatformat }} mm</small>

                                    </div>
                                </div>

                            {% else %}
                                <p class="card-text">Estratto delle info sul campo.
                                    {% if campo.dataApportoIrriguo %} Data ultimo apporto irriguo {{ campo.dataApportoIrriguo }},{% endif %} Annata agraria: {{ campo.annataAgraria }}
                                    {% if staff %}Azienda: {{ campo.proprietario }}{% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'update-campi' pk=campo.id %}"><i class="fas fa-edit fa-lg"></i></a>
                            <a href="{% url 'delete-campi' pk=campo.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                            {% if forecast %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ModalIframeStazione{{ forloop.counter }}">
                                    {{ iframeURL.stazioni }}
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="ModalIframeStazione{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <iframe src={{ iframeURL.iframeURL }} width='500' height='500' frameborder='0'></iframe>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <!-- Second Half -->

        <div class="col-md-6 p-0 bg-white h-md-100">
            {% leaflet_map "main" callback="main_map_init" %}
        </div>
    </div>
    <script type="text/javascript">
        function main_map_init (map, options) {
            // Use Leaflet API bbox test 12.182465, 42.522724, 12.933811, 42.724821

            //map.setView([40.712, -74.227], 12);  //setta il centro mappa
            map.fitBounds([
                [{{ bbox.1|unlocalize }},{{ bbox.0|unlocalize }}],
                [{{ bbox.3|unlocalize }},{{ bbox.2|unlocalize }}]
            ]);
            {% if staff %}
                var dataurl = '{% url "campi_geojson" %}?user=staff';
            {% else %}
                var dataurl = '{% url "campi_geojson" %}?user=agricoltore';
            {% endif %}

            var myStyle = {
                "weight": 2,
                "color": "#6e6e6e",
                "opacity": 1,
                "fillColor": "#5877de",
                "fillOpacity": 0.8
            };

            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {style: myStyle}).addTo(map);
            });

            //parte per inserire il catasto
            var ETRS89width= 18.99-5.93;
            var startResolution = ETRS89width/1024;
            var grid_resolution = new Array(22);
            for (var i = 0; i < 22; ++i) {
                grid_resolution[i] = startResolution / Math.pow(2, i);
            }
            var crs_6706 = new L.Proj.CRS('EPSG:6706',
                '+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs',
                {
                    resolutions: grid_resolution,
                    origin: [0, 0],
                    bounds: L.bounds([5.93, 34.76], [18.99, 47.1])
                });
            var url= 'https://wms.cartografia.agenziaentrate.gov.it/inspire/wms/ows01.php';

            var lc = map.layerscontrol;
            lc.addOverlay(
                L.tileLayer.wms(url, {
                    layers: 'CP.CadastralParcel,vestizioni',
                    crs: crs_6706,
                    format: 'image/png',
                    maxZoom: 21,
                    transparent: true,
                }),
                'Catasto Agenzia Entrate'
            );


            $(".btn").click(function(event) {
                event.preventDefault();
                var xmin = $(this).attr("xmin");
                ymin = $(this).attr("ymin");
                xmax = $(this).attr("xmax");
                ymax = $(this).attr("ymax");
                console.log(xmin);
                console.log(ymin);
                {#map.setView([lng,lat], 12);#}
                map.fitBounds([
                    [ymin,xmin],
                    [ymax,xmax]
                ])

            });


        }
        $('#add-field').click(function(){
            window.location.href = '{% url 'form-campi' %}'
        });

    </script>
{% endblock %}


{% block extrastyle %}

{% endblock %}