{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load l10n %}
{% load data_tags %}

{% block script %}
    {% leaflet_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
    <script src="{% static 'js/terreno.js' %}"></script>

{% endblock %}
{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container { height: 600px; width: 100%}
    </style>
{% endblock %}

{% block content %}


    <div class="row">
    {% if forecast %}
                {% include "panels/lateral_panel_iLand.html" %}
    {% else %}
        {% include "panels/lateral_panel_iFarm.html" %}
    {% endif %}

        <div class="col-md-4 p-0 bg-indigo h-md-100">

            <div class="sticky-top">
                {% if forecast %}
                    <h1 class="h2">iLand - poderi aziendali</h1>
                {% else %}
                <h1 class="h2">iFarm - poderi aziendali</h1>
                {% endif %}
            </div>
{% if not forecast %}
            <a class="btn btn-primary" id="add-field" title="Nuovo" role="button"><i class="fas fa-plus"></i>Campo</a>
         <a class="btn btn-primary" id="add-coltura" title="Nuovo" role="button"><i class="fas fa-plus"></i>Coltura</a>
{% endif %}
            {% for campo,area,latlong,previsioni,iframeURL in campi %}
                    <div class="card m-2" >
{#                     style="width: 35rem;"  stile della card#}
                        {#                        <img class="card-img-top" src="{% static 'img/rice_field.jpg' %}" alt="Card image cap">#}
                        <div class="card-header">
                            <h4 class="card-title">{{ campo.nome }}</h4>
                            <button title="Centra in mappa"
                                    xmin="{{ campo.geom.extent.0|unlocalize}}"
                                    ymin="{{ campo.geom.extent.1|unlocalize }}"
                                    xmax="{{ campo.geom.extent.2|unlocalize }}"
                                    ymax="{{ campo.geom.extent.3|unlocalize }}"
                                    class="btn btn-light btn-sm no-focus-highlight center-in-map">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>
                            <span class="card-area"><strong class="measure">{{ area }}</strong> ha</span>
                            <hr>
                            {#                            <span class="card-area"><strong class="measure">Coltura <u>{{ campo.coltura }}</u></strong></span>#}
                            <span class="card-area"><strong class="measure">Codice univoco (Pyy) {{ campo.id }}</strong> </span>
                        </div>
                        <div class="card-body">
                            {% if forecast %}
                                <div class="row mt-2">
                                    <div class="col-8">
                                        <h4>situazione corrente</h4>
                                        <div class="weather-forecast"><small class="condition clearfix">
                                            <img src="http://openweathermap.org/img/w/{{ previsioni.weather.0.icon }}.png" class="float-left">
                                            <strong>{{ previsioni.weather.0.description }}</strong></small>
                                            <p><span>Temperatura <strong>{{ previsioni.main.temp }} </strong>°c</span></p>
                                            <p><span>Vento <strong>{{ previsioni.wind.speed }} </strong>m/s<i class="fa-lg wi wi-wind towards-null-deg"></i></span></p>
                                            <p><span>Umidità <strong>{{ previsioni.main.humidity }} </strong>%</span></p>
                                            {% if  previsioni.trattamento %}
                                                <p style="color:#71dc00;"><span>OTTIMALE PER IL TRATTAMENTO</span></p>
                                            {% else %}
                                                <p style="color:red;"><span>NON OTTIMALE PER IL TRATTAMENTO</span></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6>Previsione</h6>
                                        <small><strong>Domani<br>{{ campo.previsione_meteo.daily.data.2.time|print_timestamp }}</strong>:<br>
                                            {{ campo.previsione_meteo.daily.data.2.precipIntensity|floatformat }} mm</small><hr>
                                        <small><strong>Dopodomani<br>{{ campo.previsione_meteo.daily.data.3.time|print_timestamp }} </strong>:<br>
                                            {{ campo.previsione_meteo.daily.data.3.precipIntensity|floatformat }} mm</small>

                                    </div>
                                </div>
                            {% else %}
                                <p class="card-text" style="background-color: #4adc98;" id="complessivo{{ forloop.counter0 }}">
                                    <strong>Altezza slm e giacitura: </strong>{{ campo.quota }} mslm,
                                    {% if campo.pendenza %}{{ campo.pendenza }}{% else %}Non inserita{% endif %}<br>
                                <strong>Proprietà: </strong>
                                {% if campo.proprieta %}{{ campo.proprieta }}{% else %}Non inserita{% endif %}<br>
                                 <strong>Metodo coltivazione: </strong>{% if campo.metodo_produzione %}{{ campo.metodo_produzione }}{% else %}Non inserita{% endif %}

                                </p>


                                <p>
                                    {% if campo.dataApportoIrriguo %} Data ultimo apporto irriguo {{ campo.dataApportoIrriguo }},{% endif %}
                                    {% if staff %}Azienda: {{ campo.proprietario }}{% endif %}
                                </p>
                                <p class="card-text" style="background-color: #bad832;">coltivato
                                {% if campo.colturadettaglio_set.exists %}
                                    a: {{ campo.colturadettaglio_set.first.nome }} annata: {{ campo.colturadettaglio_set.first.annataAgraria }}

                                    <a href="{% url 'delete-coltivazione' pk=campo.colturadettaglio_set.first.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                                    {% else %}
                                    NO
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            {% if not forecast %}

                                <a href="{% url 'update-campi' pk=campo.id %}"><i class="fas fa-edit fa-lg"></i></a>
                                <a href="{% url 'delete-campi' pk=campo.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                            {% else %}
                                <a class="meteoBtn btn btn-outline-primary" id="campo{{ campo.id }}"  data-catid="{{ campo.id }}"><i class="far fa-chart-bar fa-lg"></i> - Meteo</a>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ModalIframeStazione{{ forloop.counter }}">
                                    {{ iframeURL.stazioni }}
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="ModalIframeStazione{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            {#                                            <iframe src={{ iframeURL.iframeURL }} width='500' height='500' frameborder='0'></iframe>#}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
        </div>


        <!-- Second Half -->

        <div class="col-md-6 p-0 bg-white h-md-100">
            <ul class="nav nav-tabs">
                <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone"><i class="fas fa-map"></i>&nbsp;Mappa</a> </li>
                {% if forecast %}
                <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo" contenteditable="true"><i class="far fa-chart-bar fa-lg"></i>&nbsp;Grafici Meteorologici<br></a> </li>
                {% endif %}
            </ul>
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                    {% leaflet_map "main" callback="main_map_init" %}
                </div>
                {% if forecast %}
                <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                    <h4 id="helpMeteo">Devi cliccare sul bottone meteo</h4>
                    <h3><div id="nomeStazione"></div></h3>
                    <canvas id="myChart" width="400" height="200"></canvas>
                    <canvas id="myChart2" width="400" height="200"></canvas>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function main_map_init (map, options) {

            $('.meteoBtn').click(function () {
                var id;
                id = $(this).attr("data-catid")
                console.log(id);
                $.ajax(
                    {
                        type:"GET",
                        url: '{% url "api-meteo-campi" %}',
                        data:{
                            campo:id
                        },
                        success: function (data) {
                            {#console.log(data)#}
                            labels = data.labels
                            rainData = data.rain
                            Tmindata = data.Tmin
                            Tmaxdata = data.Tmax
                            Tmediadata = data.Tmedia
                            // aggiungi i dati qua
                            setChart()
                            $("#nomeStazione").html("Stazione meteo di azienda "+data.nome)
                            $("#helpMeteo").hide()
                        },
                        error: function (error_data) {
                            console.log("errore meteo")
                            console.log(error_data)
                        }
                    });
                function setChart() {
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var ctx2 = document.getElementById('myChart2').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'T. massima',
                                data: Tmaxdata,
                                backgroundColor: 'rgb(50,149,216)',
                                borderColor: 'rgb(50,149,216)',
                                borderWidth: 1,
                                fill : false
                            },{
                                label: 'T. minima',
                                data: Tmindata,
                                backgroundColor: 'rgb(240,93,124)',
                                borderColor: 'rgb(240,93,124)',
                                borderWidth: 1,
                                fill : false
                            },{
                                label: 'T. media',
                                data: Tmediadata,
                                backgroundColor: 'rgb(255,206,91)',
                                borderColor: 'rgb(255,206,91)',
                                borderWidth: 1,
                                fill : false
                            }],

                        },
                        options: {

                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            elements: {
                                line: {
                                    tension: 0.2
                                }
                            }
                        }
                    });
                    var myChart = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'pioggia cumulata',
                                data: rainData,
                                backgroundColor: 'rgb(255,144,167,0.5)',
                                borderColor: 'rgb(255,144,167)',
                                borderWidth: 1,
                                fill : false
                            }],

                        },
                        options: {

                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            elements: {
                                line: {
                                    tension: 0
                                }
                            }
                        }
                    });
                }
            });

            // Use Leaflet API bbox test 12.182465, 42.522724, 12.933811, 42.724821

            //map.setView([40.712, -74.227], 12);  //setta il centro mappa
            map.fitBounds([
                [{{ bbox.1|unlocalize }},{{ bbox.0|unlocalize }}],
                [{{ bbox.3|unlocalize }},{{ bbox.2|unlocalize }}]
            ]);
            {% if staff %}
                var dataurl = '{% url "campi_geojson" %}?user=staff';
            {% else %}
                var dataurl = '{% url "campi_geojson" %}?user=agricoltore';
            {% endif %}

            var myStyle = {
                "weight": 2,
                "color": "#ffffff",
                "opacity": 1,
                "dashArray": 3,
                "fillColor": "#70e35c",
                "fillOpacity": 0.7
            };

            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {style: myStyle}).addTo(map);
            });

            //parte per inserire il catasto
            var ETRS89width= 18.99-5.93;
            var startResolution = ETRS89width/1024;
            var grid_resolution = new Array(22);
            for (var i = 0; i < 22; ++i) {
                grid_resolution[i] = startResolution / Math.pow(2, i);
            }
            var crs_6706 = new L.Proj.CRS('EPSG:6706',
                '+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs',
                {
                    resolutions: grid_resolution,
                    origin: [0, 0],
                    bounds: L.bounds([5.93, 34.76], [18.99, 47.1])
                });
            var url= 'https://wms.cartografia.agenziaentrate.gov.it/inspire/wms/ows01.php';

            var lc = map.layerscontrol;
            lc.addOverlay(
                L.tileLayer.wms(url, {
                    layers: 'CP.CadastralParcel,vestizioni',
                    crs: crs_6706,
                    format: 'image/png',
                    maxZoom: 21,
                    transparent: true,
                }),
                'Catasto Agenzia Entrate'
            );


            $(".btn").click(function(event) {
                event.preventDefault();
                var xmin = $(this).attr("xmin");
                ymin = $(this).attr("ymin");
                xmax = $(this).attr("xmax");
                ymax = $(this).attr("ymax");
                console.log(xmin);
                console.log(ymin);
                {#map.setView([lng,lat], 12);#}
                map.fitBounds([
                    [ymin,xmin],
                    [ymax,xmax]
                ])

            });


        }
        $('#add-field').click(function(){
            window.location.href = '{% url 'form-campi' %}'
        });
        $('#add-coltura').click(function(){
            window.location.href = '{% url 'form-coltura' %}'
        });
        $(window).on('load',function () {
            {% for campo,area,latlong,previsioni,iframeURL in campi %}
                {% if campo.analisi_suolo_set.exists %}
                    //todo cosa fare se ci sono più analisi? scegliere
                    tessituraR = tessituraF({{ campo.analisi_suolo_set.first.sabbia }},{{ campo.analisi_suolo_set.first.limo }})
                    OMdesc = OM({{ campo.analisi_suolo_set.first.sabbia }},{{ campo.analisi_suolo_set.first.limo }},{{ campo.analisi_suolo_set.first.OM }})
                    phDescrizione1 = pHdesc({{ campo.analisi_suolo_set.first.pH }})
                    caco3totdesc = CaCO3Tot({{ campo.analisi_suolo_set.first.CACO3_tot }})
                    CN = RappCN({{ campo.analisi_suolo_set.first.Carbonio }},{{ campo.analisi_suolo_set.first.azoto }})
                    $('#complessivo{{ forloop.counter0 }}').append('<br><strong>Granulometria: </strong>'+tessituraR)
                    $('#complessivo{{ forloop.counter0 }}').append('<br><strong>Sostanza organica: </strong>'+OMdesc)
                    $('#complessivo{{ forloop.counter0 }}').append('<br><strong>pH: </strong>'+phDescrizione1)
                    $('#complessivo{{ forloop.counter0 }}').append('<br><strong>Calcare: </strong>'+caco3totdesc)
                    $('#complessivo{{ forloop.counter0 }}').append('<br><strong>Rapporto C/N: </strong>'+CN)
                {% endif %}
            {% endfor %}
        })
    </script>
{% endblock %}


{% block extrastyle %}

{% endblock %}