{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load l10n %}

{% block script %}
    {% leaflet_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
{% endblock %}
{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container { height: 600px; width: 100%}
    </style>
{% endblock %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">iFarm</h1>
<img src="{% static 'img/i-farm.png' %}" class="rounded mx-auto d-block"/>
        <p>È un progetto che sviluppa la fattoria digitale delle aziende agricole ed agroalimentari dalle piccole alle grandi dimensioni,
            dalla generalista alla specializzata, organizza, disciplina e gestisce le diverse fasi
            aziendali  attraverso gli strumenti per conoscere e decidere.</p>

    </div>
  </div>
    <div class="row">
        {% include "panels/lateral_panel_iFarm.html" %}

    <div class="container">
    <div class="row">
        {% for campo,area in campi %}
        <div class="col-md-6 col-lg-4 col-xl-3 py-2">
            <div class="card h-100">
                {% if campo.staticmap %}
                    <img class="card-img-top img-fluid" src="{{ campo.staticmap.url }}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'img/rice_field.jpg' %}" alt="Card image cap">
                {% endif %}
                <div class="card-header">
                    <h4 class="card-title">{{ campo.nome }}</h4>
                    <span class="card-area"><strong class="measure">{{ area }}</strong> ha</span>
                    <hr>
                     <span class="card-area"><strong class="measure">Codice univoco (Pyy) {{ campo.id }}</strong> </span>
                </div>

                <div class="card-block">
{#                    <p class="card-text" style="background-color: #4adc98;">Giacitura {% if campo.pendenza %}{{ campo.pendenza }}{% else %}Non inserita{% endif %}</p>#}
{#                    <p class="card-text" style="background-color: #03a1ab;">Temperatura suolo:#}
{#                        {% if campo.temperatura_suolo %}{{ campo.temperatura_suolo }}°C{% endif %}#}
{#                    </p>#}
{#                    <p class="card-text" style="background-color: #3295d8;">Umidità</p>#}
                    <p>
                        {% if campo.dataApportoIrriguo %} Data ultimo apporto irriguo {{ campo.dataApportoIrriguo }},{% endif %}
                        {% if staff %}Azienda: {{ campo.proprietario }}{% endif %}
                    </p>
                    <p class="card-text" style="background-color: #bad832;">coltivato
                        {% if campo.colturadettaglio_set.exists %}
                            a: {{ campo.colturadettaglio_set.first.nome }} annata: {{ campo.colturadettaglio_set.first.annataAgraria }}

                            <a href="{% url 'delete-coltivazione' pk=campo.colturadettaglio_set.first.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                        {% else %}
                            NO
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'update-campi' pk=campo.id %}"><i class="fas fa-edit fa-lg"></i></a>
                    <a href="{% url 'delete-campi' pk=campo.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>

</div>


    </div>
    <script type="text/javascript">

    </script>


{% endblock %}


{% block extrastyle %}

{% endblock %}