{% extends "base.html" %}
{% load leaflet_tags crispy_forms_tags %}

{% load static %}

{% block script %}
    {% leaflet_js plugins="forms" %}

{% endblock %}

{% block css %}
    {% leaflet_css plugins="forms" %}
    {{ form.media }}

{% endblock %}

{% block content %}

    <div class="row">
        {% include "lateral_panel_dashboard.html" %}
 <div class="col-lg-8  col-md-8">
 <form action="." method="POST" >{% csrf_token %}
{{ formset_operazione|crispy }}
     <h2>pippo-------------</h2>
     {{ fertilizzazione_form|crispy }}

<input type="submit" value="submit">
</form>
 </div>
    </div>

{% endblock %}


{% block extrastyle %}

{% endblock %}