{% extends "base.html" %}
{% load leaflet_tags crispy_forms_tags %}

{% load static %}

{% block script %}
    {% leaflet_js plugins="forms" %}

{% endblock %}

{% block css %}
    {% leaflet_css plugins="forms" %}
    {{ form.media }}

{% endblock %}

{% block content %}

    <div class="row">
        {% include "panels/lateral_panel_iFarm.html" %}
 <div class="col-lg-8  col-md-8">
 <form action="." method="POST" >{% csrf_token %}
     <h2>inserisci <u>{{ titolo_child }}</u></h2>
{{ formset_operazione|crispy }}
<hr>
     {{ child_form|crispy }}

<input type="submit" value="Invia">
</form>
 </div>
    </div>

{% endblock %}


{% block extrastyle %}

{% endblock %}