{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load l10n %}

{% block script %}
    {% leaflet_js %}
       <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>
{% endblock %}
{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container { height: 600px; width: 100%}
    </style>
{% endblock %}


{% block content %}


    <div class="row">
        {% include "panels/lateral_panel_iFarm.html" %}

        <div class="col-md-4 p-0 bg-indigo h-md-100">

            <div class="sticky-top">
                <h1 class="h2">Operazioni colturali</h1>
            </div>

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
           <i class="fas fa-plus"></i> Nuova operazione
        </button>
        <div class="dropdown-menu">
            {% for single_tipologia in tipologia_operazioni %}
                <a class="dropdown-item" href="{% url 'form-operazioni' oper_type=single_tipologia.0 %}">{{ single_tipologia.1 }}</a>
            {% endfor %}

        </div>


            {% for operazione in operazioni_all %}
                <div class="col-12 mt-2">
                <div class="card border-primary mb-3" style="max-width: 48rem;">
                    <div class="card-header">Operazione {{ operazione.operazione }}
                        --- Data operazione:{{ operazione.data_operazione }} -- id:{{ operazione.id }}
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Dettagli operazione</h5>
                    {{ operazione.items }}
                        <p class="card-text">
                            {% if not operazione.operazione_fertilizzazione is None %}
                                <p>Fertilizzazione</p>
                                tipologia: {{ operazione.operazione_fertilizzazione.fertilizzante }}&nbsp;&nbsp;
                                kg di prodotto: {{ operazione.operazione_fertilizzazione.kg_prodotto }}&nbsp;&nbsp;
                                titolo di N: {{ operazione.operazione_fertilizzazione.titolo_n }}%&nbsp;&nbsp;
                                titolo di K<sub>2</sub>O: {{ operazione.operazione_fertilizzazione.titolo_k2o }}%&nbsp;&nbsp;
                                titolo di P<sub>2</sub>O<sub>5</sub>: {{ operazione.operazione_fertilizzazione.titolo_p2o5 }}%&nbsp;&nbsp;
                            {% endif %}
                            {% if not operazione.operazione_irrigazione is None %}
                                <p>Irrigazione</p>
                                durata: {{ operazione.operazione_irrigazione.durata }}&nbsp;&nbsp;
                                portata: {{ operazione.operazione_irrigazione.portata }}
                            {% endif %}
                            {% if not operazione.operazione_semina is None %}
                                <p>Semina</p>
                                Lughezza ciclo: {{ operazione.operazione_semina.lunghezza_ciclo }} giorni&nbsp;&nbsp;
                                precocità: {{ operazione.operazione_semina.precocita }}&nbsp;&nbsp;
                                Modalità di semina: {{ operazione.operazione_semina.semina }}&nbsp;&nbsp;
                                Quantità totale semente/piante: {{ operazione.operazione_semina.quantita }} kg&nbsp;&nbsp;
                                Produzione totale attesa: {{ operazione.operazione_semina.produzione }} ton&nbsp;&nbsp;
                            {% endif %}
                            {% if not operazione.operazione_raccolta is None %}
                                <p>Raccolta</p>
                                Produzione totale (t): {{ operazione.operazione_raccolta.produzione}}
                            {% endif %}
                            {% if not operazione.operazione_trattamento is None %}
                                <p>Trattamento</p>
                                categoria di prodotto: {{ operazione.operazione_trattamento.prodotto }}&nbsp;&nbsp;
                                Formulato commerciale: {{ operazione.operazione_trattamento.formulato }}&nbsp;&nbsp;
                                Sostanze attive: {{ operazione.operazione_trattamento.sostanze }}&nbsp;&nbsp;
                                Quantità totale di prodotto: {{ operazione.operazione_trattamento.quantita }} kg
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Centra in mappa</small>
                        <button title="Centra in mappa"
                                    xmin="{{ operazione.campo.geom.extent.0|unlocalize}}"
                                    ymin="{{ operazione.campo.geom.extent.1|unlocalize }}"
                                    xmax="{{ operazione.campo.geom.extent.2|unlocalize }}"
                                    ymax="{{ operazione.campo.geom.extent.3|unlocalize }}"
                                class="btn btn-light btn-sm no-focus-highlight center-in-map">
                            <i class="fas fa-map-marker-alt fa-lg"></i>
                        </button>
{#                         <a href="{% url 'update-analisi' pk=operazione.id %}"><i class="fas fa-edit fa-lg"></i></a>#}
                         <a href="{% url 'delete-operazioni' pk=operazione.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
        {% block cards %}

        {% endblock %}

        <!-- Second Half -->

        <div class="col-md-6 p-0 bg-white h-md-100">
            {% leaflet_map "main" callback="main_map_init" %}
        </div>
    </div>
    <script type="text/javascript">
        function main_map_init (map, options) {
            // Use Leaflet API bbox test 12.182465, 42.522724, 12.933811, 42.724821

            //map.setView([{{ bbox.1 }}, {{ bbox.0 }}], 12);
            map.fitBounds([
                [{{ bbox.1|unlocalize }},{{ bbox.0|unlocalize }}],
                [{{ bbox.3|unlocalize }},{{ bbox.2|unlocalize }}]
            ]);


            {% if staff %}
                var datacampi = '{% url "campi_geojson" %}?user=staff';
            {% else %}
                var datacampi = '{% url "campi_geojson" %}?user=agricoltore';
            {% endif %}

            //define a style for fields
            var myStyle = {
                "weight": 2,
                "color": "#6e6e6e",
                "opacity": 1,
                "fillColor": "#5877de",
                "fillOpacity": 0.8
            };


            // Download GeoJSON via Ajax

            $.getJSON(datacampi, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {style: myStyle}).addTo(map);
            });

             //parte per inserire il catasto
            var ETRS89width= 18.99-5.93;
            var startResolution = ETRS89width/1024;
            var grid_resolution = new Array(22);
            for (var i = 0; i < 22; ++i) {
                grid_resolution[i] = startResolution / Math.pow(2, i);
            }
            var crs_6706 = new L.Proj.CRS('EPSG:6706',
                '+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs',
                {
                    resolutions: grid_resolution,
                    origin: [0, 0],
                    bounds: L.bounds([5.93, 34.76], [18.99, 47.1])
                });
            var url= 'https://wms.cartografia.agenziaentrate.gov.it/inspire/wms/ows01.php';

            var lc = map.layerscontrol;
            lc.addOverlay(
                        L.tileLayer.wms(url, {
                layers: 'CP.CadastralParcel,vestizioni',
                crs: crs_6706,
                format: 'image/png',
                maxZoom: 21,
                transparent: true,
            }),
                        'Catasto Agenzia Entrate'
                    );

                $(".btn").click(function(event) {
                    event.preventDefault();
                    var xmin = $(this).attr("xmin");
                    ymin = $(this).attr("ymin");
                    xmax = $(this).attr("xmax");
                    ymax = $(this).attr("ymax");
                    console.log(xmin);
                    console.log(ymin);
                    {#map.setView([lng,lat], 12);#}
                    map.fitBounds([
                        [ymin,xmin],
                        [ymax,xmax]
                    ])

                });


        }
        $('#add-operazioni').click(function(){
            window.location.href = '{% url 'form-operazioni' oper_type=None %}'
        });
    </script>
{% endblock %}


{% block extrastyle %}

{% endblock %}